---
// need to install astro-icon and @iconify-json/mdi
// to set the size add font-size in the component class
import { Icon } from 'astro-icon/components';

interface Props {
  iconName: string;
  class?: string;
  duration?: string;
  color?: string;
  hoverColor?: string;
}

const {
  class: classList,
  iconName,
  duration = '.5s',
  color = '#f44336',
  hoverColor = '#fff',
  ...attrs
} = Astro.props;
---

<div id="container13">
  <Icon name={iconName} class={className} {...attrs} />
  <span></span><span></span>
</div>

<style define:vars={{ duration, color, hoverColor }}>
  #container13 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color);
    border-radius: 50%;
    padding: 1em;

    svg {
      position: relative;
      z-index: 10;
      transition: var(--duration);
      color: var(--color);
    }

    span {
      position: absolute;
      border-radius: 50%;
      &:nth-of-type(1) {
        top: 10%;
        left: 10%;
        opacity: 0;
        z-index: 5;
        transition: var(--duration);
        background-color: var(--color);
        width: 80%;
        height: 80%;
      }
      &:nth-of-type(2) {
        top: 5%;
        left: 5%;
        opacity: 0;
        transition: var(--duration) linear infinite;
        border: 0.05em dashed var(--color);
        width: 90%;
        height: 90%;
      }
    }
    &:hover {
      svg {
        color: var(--hoverColor);
      }
      span {
        &:nth-of-type(1) {
          opacity: 1;
        }
        &:nth-of-type(2) {
          opacity: 1;
          animation: rotating13 10s linear infinite;
        }
      }
    }
  }
  @keyframes rotating13 {
    to {
      transform: rotate(360deg);
    }
  }
</style>
