---
import { getImage } from 'astro:assets';
import rain from '@/images/animation12/rain.png';

interface Props {
  imagePath: string;
  class?: string;
  duration?: string;
}
const { class: classList, imagePath, duration = '5s', ...attrs } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);

const optBg = await getImage({ src: images[imagePath](), format: 'webp' });
const optRain = await getImage({
  src: rain,
  format: 'webp',
});
---

<div
  id="container12"
  class={classList}
  style={`--bgUrl: url(${optBg.src}); --rainUrl: url(${optRain.src})`}
  {...attrs}
>
  <div class="rain"></div>
</div>

<style define:vars={{ duration }}>
  #container12 {
    background: var(--bgUrl) center / cover;
    .rain {
      animation: rain12 var(--duration) linear infinite;
      background: var(--rainUrl);
      background-size: cover;
      height: 100%;
    }
  }
  /* with background-size: cover, background-position does not accept values in % 
     if necessary adjust -70px with a different value
  */
  @keyframes rain12 {
    0% {
      background-position: -70px bottom;
    }
    100% {
      background-position: left top;
    }
  }
</style>
