---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- text as string
- size as string
and
- text and ring color are set defining the color with css
*/

interface Props {
  class?: string;
  duration?: string;
  text: string;
  size?: string;
}
const {
  class: classList,
  duration = '1s',
  text,
  size = '5rem',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--size: ${size};`;
---

<div class:list={['container20', classList]} style={style} {...attrs}>
  <span>{text}</span>
</div>

<style>
  .container20 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    width: var(--size);
    height: var(--size);
    color: #222;
    font-size: 1.3rem;

    &::before {
      position: absolute;
      animation: anim20 var(--duration) infinite linear;
      inset: 0;
      border-left: calc(var(--size) * 0.025) solid currentColor;
      border-radius: 50%;
      content: '';
    }
    span {
      position: relative;
      z-index: 1;
    }
  }

  @keyframes anim20 {
    to {
      transform: rotate(360deg);
    }
  }
</style>
