---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- hoverColor as string 
- href as string
*/

interface Props {
  class?: string;
  duration?: string;
  hoverColor?: string;
  href: string;
}
const {
  class: classList,
  duration = '0.5s',
  hoverColor = '#f44336',
  href,
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--hoverColor: ${hoverColor};`;
---

<a class={classList} style={style} {...attrs}><slot /></a>

<style>
  a {
    --band-width: 33%;
    display: inline-block;
    position: relative;
    z-index: 0;
    border: 0.075em solid currentColor;
    background: #222;
    padding: 0.5em 1em;
    overflow: clip;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
    &::before {
      position: absolute;
      top: 0;
      left: calc(var(--band-width) * -1.2);
      transform: skewX(-15deg);
      z-index: -1;
      animation: moving07 1.2s linear infinite;
      transition: var(--duration);
      background: var(--hoverColor);
      width: var(--band-width);
      height: 100%;
      content: '';
    }
    &:hover {
      &::before {
        left: 0;
        transform: skewX(0);
        animation: none;
        width: 100%;
      }
    }
  }
  @keyframes moving07 {
    from {
      left: calc(var(--band-width) * -1.2);
    }
    to {
      left: 100%;
    }
  }
</style>
