---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- size as string (size of ball)
*/

interface Props {
  class?: string;
  duration?: string;
  size?: string;
}
const {
  class: classList,
  duration = '2s',
  size = '2.5rem',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--delay: calc(var(--duration) / 2);--size: ${size}`;
---

<div class:list={['container16', classList]} style={style} {...attrs}>
  {Array.from({ length: 5 }).map(() => <span />)}
</div>

<style>
  .container16 {
    display: flex;
    border-top: calc(var(--size) / 5) solid currentColor;
    color: #fff;

    span {
      display: block;
      position: relative;
      transform-origin: top;
      margin: 0 calc(var(--size) * 0.463);
      background-color: currentColor;
      width: calc(var(--size) / 17);
      height: calc(var(--size) * 3);
      &:first-of-type {
        animation: anim16Left var(--duration) infinite ease-in-out;
      }
      &:last-of-type {
        animation: anim16Right var(--duration) infinite ease-in-out;
        animation-delay: var(--delay);
      }
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: currentColor;
        width: var(--size);
        height: var(--size);
        content: '';
      }
    }
  }
  @keyframes anim16Left {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(45deg);
    }
    55% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes anim16Right {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    55% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
