---
interface Props {
  duration?: string;
  class?: string;
  colors?: string;
}
const {
  class: className,
  duration = '0.5s',
  colors = '#fff, #f44336',
  ...rest
} = Astro.props;
const [color1, color2] = colors.split(',');
---

<h3 class={className} {...rest}>Hover Me</h3>

<style define:vars={{ duration, color1, color2 }}>
  h3 {
    position: relative;
    z-index: 0;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid var(--color1);
    padding: 20px;
    overflow: hidden;
    color: var(--color1);
    font-size: 1.5rem;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      transform: skewX(-15deg);
      z-index: -1;
      animation: moving07 1.2s linear infinite;
      transition: var(--duration);
      background: var(--color2);
      width: 33%;
      height: 100%;
      content: '';
    }
    &:hover {
      &::before {
        left: 0;
        transform: skewX(0);
        animation: none;
        width: 100%;
      }
    }
  }
  @keyframes moving07 {
    from {
      left: -40%;
    }
    to {
      left: 100%;
    }
  }
</style>
