---
import bg from '@/images/animation10/bg.jpg';
import { getImage } from 'astro:assets';

const optBg = await getImage({ src: bg, alt: 'bg', format: 'webp' });
interface Props {
  text: string;
  class?: string;
  duration?: string;
}
const { text, class: classList, duration = '15s', ...attrs } = Astro.props;
---

<h3 class={className} style=`--url: url(${optBg.src})` {...attrs}>{text}</h3>

<style define:vars={{ duration }}>
  h3 {
    animation: moving10 var(--duration) linear infinite;
    background: var(--url);
    background-clip: text;
    color: transparent;
    text-align: center;
  }
  @keyframes moving10 {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left top;
    }
  }
</style>
