---
/*
INFORMATIONS
set: 
- text as string
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props {
  text: string;
  class?: string;
  duration?: string;
}
const { text, class: classList, duration = '3s', ...attrs } = Astro.props;
const style = `--duration: ${duration};`;
---

<h3 class={className} style={style} {...attrs}>{text}</h3>

<style>
  h3 {
    animation: float var(--duration) linear infinite alternate;
    padding: 0.5em 0.7em;
    line-height: 1;
    font-family: arial;
    letter-spacing: 5px;
    text-align: center;
    text-shadow:
      0 calc(1em / 48 * 1) 0 #efefef,
      0 calc(1em / 48 * 2) 0 #efefef,
      0 calc(1em / 48 * 3) 0 #efefef,
      0 calc(1em / 48 * 4) 0 #efefef,
      0 0.8rem calc(1em / 48 * 5) #0000001a;
  }

  @keyframes float {
    from {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-5deg);
    }
  }
</style>
