---
import { getImage } from 'astro:assets';
import bg from '@/images/animation05/bg.png';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props {
  class?: string;
  duration?: string;
}
const { class: classList, duration = '15s' } = Astro.props;

// prettier-ignore
const optBg = await getImage({ src: bg, alt: 'bg', format: 'webp', loading: 'lazy' });

const style = `--url: url(${optBg.src});--duration: ${duration};`;
---

<div class:list={['container', classList]} style={style}>
  <slot />
</div>

<style>
  .container {
    animation: scroll var(--duration) linear infinite;
    background: var(--url);
    background-position-y: 0%;
    width: 15rem;
    color: #fff;
  }

  @keyframes scroll {
    from {
      background-position-y: bottom;
    }
    to {
      background-position-y: top;
    }
  }
</style>
