---
import { getImage } from 'astro:assets';

interface Props {
  bgImage: ImageMetadata;
  duration?: string;
  class?: string;
  width: string;
}
const { bgImage, class: className, width, ...rest } = Astro.props;
const optBg = await getImage({ src: bgImage, alt: 'bg', format: 'webp' });
---

<div class="container" style={`--url: url(${optBg.src})`} {...rest}>
  <slot />
</div>

<style define:vars={{ duration: '15s', width }}>
  .container {
    position: relative;
    animation: driving var(--duration) linear infinite;
    background: var(--url);
    background-position: bottom left;
    background-size: cover;
    width: var(--width);
    height: 100%;
  }

  @keyframes driving {
    from {
      background-position: bottom left;
    }
    to {
      background-position: bottom right;
    }
  }
</style>
