---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- colors as string ("hoverColor")
- href as string
*/

interface Props {
  class?: string;
  duration?: string;
  colors?: string;
  href: string;
}
const {
  class: classList,
  duration = '0.5s',
  colors = '#f44336',
  href,
  ...attrs
} = Astro.props;
const [hoverColor] = colors.split(',');
const style = `--duration: ${duration};--hoverColor: ${hoverColor};`;
---

<a class={classList} style={style} {...attrs}><slot /></a>

<style>
  a {
    position: relative;
    z-index: 0;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid #fff;
    background: #222;
    padding: 0.5em 0.7em;
    width: fit-content;
    overflow: hidden;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      transform: skewX(-15deg);
      z-index: -1;
      animation: moving07 1.2s linear infinite;
      transition: var(--duration);
      background: var(--hoverColor);
      width: 33%;
      height: 100%;
      content: '';
    }
    &:hover {
      &::before {
        left: 0;
        transform: skewX(0);
        animation: none;
        width: 100%;
      }
    }
  }
  @keyframes moving07 {
    from {
      left: -40%;
    }
    to {
      left: 100%;
    }
  }
</style>
