---
interface Props {
  class?: string;
  duration?: string;
  width?: string;
  height?: string;
  color?: string;
}
const {
  class: classList,
  duration = '2s',
  width = '180px',
  height = '3px',
  color = '#fff',
  ...attrs
} = Astro.props;
---

<div id="line24" class={classList} {...attrs}></div>

<style define:vars={{ duration, width, height, color }}>
  #line24 {
    animation: anim24 var(--duration) infinite linear alternate;
    background-color: var(--color);
    width: var(--width);
    height: var(--height);
  }

  @keyframes anim24 {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }

    47.5% {
      transform: scaleX(1);
      transform-origin: left;
    }
    52.5% {
      transform: scaleX(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }
</style>
