---
import { getImage } from 'astro:assets';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- imagePath as string (image format: jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico)
*/

interface Props {
  class?: string;
  duration?: string;
  imagePath?: string;
}
const {
  class: classList,
  duration = '15s',
  imagePath = '/src/images/animation05/bg.png',
  ...attrs
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/**/*.{jpg,jpeg,png,webp,avif,svg,gif,eps,raw,bmp,tiff,ico}'
);
if (!images[imagePath]) throw new Error(`${imagePath} does not exist`);

// prettier-ignore
const optBg = await getImage({ src: images[imagePath](), format: 'webp', loading: 'lazy' });

const style = `--url: url(${optBg.src});--duration: ${duration};`;
---

<div class:list={['container', classList]} style={style} {...attrs}>
  <slot />
</div>

<style>
  .container {
    animation: scroll var(--duration) linear infinite;
    background: var(--url);
    background-position-y: 0%;
    width: 15rem;
    height: 5rem;
    color: #fff;
    font-size: 1.3rem;
  }

  @keyframes scroll {
    from {
      background-position-y: bottom;
    }
    to {
      background-position-y: top;
    }
  }
</style>
