---
interface Props {
  duration?: string;
  class?: string;
  colors?: string;
  href: string;
}
const {
  class: className,
  duration = '0.3s',
  colors = '#fff, #f44336',
  href,
  ...rest
} = Astro.props;
const [color1, color2] = colors.split(',');
---

<a href={href} class={className} {...rest}>Hover Me</a>

<style define:vars={{ duration, color1, color2 }}>
  a {
    transition: 0.3s;
    cursor: pointer;
    border: 3px solid var(--color1);
    padding: 10px;
    color: var(--color1);
    font-size: 2rem;
    &:hover {
      animation: shake var(--duration) linear;
      border: 3px solid var(--color2);
      color: var(--color2);
    }
  }
  @keyframes shake {
    33% {
      transform: rotate(10deg);
    }
    66% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
</style>
