---
interface Props {
  class?: string;
  duration?: string;
  text: string;
  size?: string;
}
const { class: className, duration = '1s', text, size = '90px' } = Astro.props;
---

<div id="container23" class={className}>
  <h3 class="text23">{text}</h3>
  <div class="ring23"></div>
</div>

<style define:vars={{ duration, size }}>
  #container23 {
    position: relative;
    width: var(--size);
    height: var(--size);
    h3.text23 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      line-height: var(--size);
      text-align: center;
    }
    .ring23 {
      animation: anim23 var(--duration) infinite linear;
      border-left: calc(var(--size) * 0.02) solid #262626;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  @keyframes anim23 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
