---
interface Props {
  text?: string;
  duration?: string;
  class?: string;
  color?: string;
  size?: string;
}
const {
  class: className,
  duration = '2s',
  color = '#fff',
  size = '3rem',
  ...rest
} = Astro.props;
---

<div class:list={['loading01', className]} {...rest}></div>

<style define:vars={{ duration, color, size }}>
  .loading01 {
    perspective: calc(var(--size) * 8);
    animation: loading02 var(--duration) linear infinite;
    border-radius: calc(var(--size) / 10);
    background-color: var(--color);
    width: var(--size);
    height: var(--size);
  }
  @keyframes loading02 {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: rotateX(0deg) rotateY(180deg);
    }
    100% {
      transform: rotateX(180deg) rotateY(180deg);
    }
  }
</style>
