---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- number as number of squares
- colors as string ("<color1>, <color2>, ...")
*/

interface Props {
  class?: string;
  duration?: string;
  text?: string;
}
const {
  class: classList,
  text = 'Animation 30',
  duration = `${text.length / 2}s`,
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};`;
---

<span class={classList} style={style} {...attrs}>{text}</span>

<style>
  span {
    display: inline-block;
    position: relative;
    background: #9a0e0e;
    overflow: clip;
    color: #fff;
    font-size: 1.5rem;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      animation: fading30 var(--duration) linear infinite;
      background-color: inherit;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  @keyframes fading30 {
    0%,
    10% {
      left: 0;
    }
    40%,
    60% {
      left: 100%;
    }
    90%,
    100% {
      left: 0;
    }
  }
</style>
