---
interface Props {
  class?: string;
  duration?: string;
  text: string;
  colors?: string;
}
const {
  class: classList,
  duration = '5s',
  text,
  colors = '#fff, #f6b93b',
  ...attrs
} = Astro.props;

const [color1, color2] = colors.split(',');
---

<div id="container22" class={className} {...attrs}>
  <h3>&nbsp;{text}&nbsp;<span>&nbsp;{text}&nbsp;</span></h3>
</div>

<style define:vars={{ duration, color1, color2 }}>
  #container22 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h3 {
    --border-size: 4px;
    position: relative;
    color: var(--color1);
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      animation: anim22 var(--duration) linear infinite;
      border-right: var(--border-size) solid var(--color2);
      width: 100%;
      overflow: hidden;
      color: var(--color2);
      text-wrap: nowrap;
    }
  }

  @keyframes anim22 {
    0% {
      width: 0;
    }

    50% {
      width: 100%;
    }

    100% {
      width: 0;
    }
  }
</style>
