---
/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- text as string
- color as string ("<color>") 
*/

interface Props {
  class?: string;
  duration?: string;
  color?: string;
}
const {
  class: classList,
  duration = '5s',
  color = '#fff',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--color: ${color};`;
const id = Math.random().toString(32).slice(2, 11);
---

<div id={id} class:list={['container34', classList]} style={style} {...attrs}>
  <span><slot /></span>
</div>

<style>
  .container34 {
    --shadow: 0 0 0.125em #00b3ff, 0 0 0.25em #00b3ff, 0 0 0.5em #00b3ff,
      0 0 1em #00b3ff, 0 0 1.5em #00b3ff;
    --barWidth: 0.18em;
    position: relative;
    background-color: #001d30;
    width: fit-content;
    overflow: clip;
    span {
      display: inline-block;
      padding: 0.5em;
      color: var(--color);
      font-size: 1.5rem;
      text-shadow: var(--shadow);
    }
    &::before,
    &::after {
      position: absolute;
      inset: 0;
      content: '';
    }
    /* lightbar */
    &::before {
      transform: scaleY(0);
      animation: lightbar34 var(--duration) linear infinite;
      inset: 0;
      box-shadow: var(--shadow);
      border-radius: 0.125em;
      background: var(--color);
      width: var(--barWidth);
      height: 100%;
    }
    /* toplayer */
    &::after {
      top: -50%;
      left: var(--barWidth);
      animation: toplayer34 calc(var(--duration) * 2) linear infinite;
      background: inherit;
      width: calc(100% - var(--barWidth) * 2);
      height: 200%;
    }
  }

  /* in 90% and 100% put the width of container */
  @keyframes lightbar34 {
    0% {
      left: 0;
      transform: scaleY(0);
    }
    10% {
      left: 0;
      transform: scaleY(1);
    }
    90% {
      left: calc(100% - var(--barWidth));
      transform: scaleY(1);
    }
    100% {
      left: calc(100% - var(--barWidth));
      transform: scaleY(0);
    }
  }
  @keyframes toplayer34 {
    0%,
    5% {
      transform: translateX(0);
    }
    45%,
    50% {
      transform: translateX(calc(100% + var(--barWidth)));
    }
    50.0001%,
    55% {
      transform: translateX(calc(-100% - var(--barWidth)));
    }
    95%,
    100% {
      transform: translateX(0);
    }
  }
</style>
