---
import type { HTMLAttributes } from 'astro/types';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- size as string
- color as string
*/

interface Props extends HTMLAttributes<'div'> {
  class?: string;
  duration?: string;
  size?: string;
  color?: string;
}
const {
  class: classList,
  duration = '2s',
  size = '3rem',
  color = '#fff',
  ...attrs
} = Astro.props;
const style = `--duration: ${duration};--size: ${size};--color: ${color};`;
---

<div class:list={['container02', classList]} style={style} {...attrs}>
  <div class="loading02"></div>
</div>

<style>
  .container02 {
    background: #26de81;
    padding: 1rem 2rem;
    width: fit-content;
    .loading02 {
      perspective: calc(var(--size) * 30);
      animation: loading02 var(--duration) linear infinite;
      border-radius: calc(var(--size) / 10);
      background-color: var(--color);
      width: var(--size);
      height: var(--size);
    }
  }

  @keyframes loading02 {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: rotateX(0deg) rotateY(180deg);
    }
    100% {
      transform: rotateX(180deg) rotateY(180deg);
    }
  }
</style>
