---
import type { HTMLAttributes } from 'astro/types';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props extends HTMLAttributes<'div'> {
  class?: string;
  duration?: string;
}
const { class: classList, duration = '3s', ...attrs } = Astro.props;
const style = `--duration: ${duration};`;
---

<div class:list={['container01', classList]} style={style} {...attrs}>
  <span><slot /></span>
</div>

<style>
  .container01 {
    background: #26de81;
    padding: 1rem 2rem;
    width: fit-content;
    color: #fff;
    font-size: 2rem;
    font-family: arial;
    letter-spacing: 0.1em;
    span {
      display: inline-block;
      animation: float01 var(--duration) linear infinite alternate;
      /* line-height: 1; */
      text-shadow:
        0 calc(1em / 48 * 1) 0 #efefef,
        0 calc(1em / 48 * 2) 0 #efefef,
        0 calc(1em / 48 * 3) 0 #efefef,
        0 calc(1em / 48 * 4) 0 #efefef,
        0 0.8rem calc(1em / 48 * 5) #0000001a;
    }
  }

  @keyframes float01 {
    from {
      rotate: 5deg;
    }
    to {
      rotate: -5deg;
    }
  }
</style>
