---
/*
INFORMATIONS
USE FONT-SIZE TO SET THE BALLS'S SIZE
set optionally:
- class as string
- duration as string 'value and s | ms'
- ballNumber as number
*/

interface Props {
  class?: string;
  duration?: string;
  ballNumber?: number;
}
// prettier-ignore
const { class: classList, duration = '1s', ballNumber = 5, ...attrs } = Astro.props;

const style = `--duration: ${duration};`;
---

<div class:list={['container', classList]} style={style} {...attrs}>
  <ul>
    {
      Array.from({ length: ballNumber }).map(() => {
        const delay = `${(Math.floor(Math.random() * ballNumber * 20) / 100).toFixed(2)}s`;
        return <li style={`--delay: ${delay}`} />;
      })
    }
  </ul>
</div>

<style>
  .container {
    width: fit-content;
    color: #fff;
    font-size: 1rem;
    ul {
      display: flex;
      justify-content: center;
      align-items: end;
      gap: 0.5em;
      border-bottom: 0.25em solid currentColor;
      min-height: 4.5em;
      list-style: none;
      li {
        animation: jumping11 var(--duration) linear infinite;
        animation-delay: var(--delay);
        border-radius: 50%;
        background-color: currentColor;
        width: 1em;
        height: 1em;
      }
    }
  }
  @keyframes jumping11 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
