---
interface Props {
  text: string;
  colors?: string;
  duration?: string;
  class?: string;
}
const {
  text,
  colors = '#f44336, blue',
  duration = '3s',
  class: classList,
  ...attrs
} = Astro.props;

const [color1, color2] = colors.split(',');
---

<ul data-style="none" class={className} {...attrs}>
  {
    text
      .split('')
      .map((letter, idx) => <li style={`--delay: ${idx * 0.2}s`}>{letter}</li>)
  }
</ul>

<style define:vars={{ color1, color2, duration }}>
  ul {
    display: flex;
  }
  li {
    opacity: 0;
    animation: anim14 var(--duration) linear infinite;
    animation-delay: var(--delay);
    letter-spacing: 0.5em;
  }
  @keyframes anim14 {
    0% {
      transform: translateX(-0.6em);
      opacity: 0;
      color: var(--color1);
      letter-spacing: 0.5em;
    }
    10% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      letter-spacing: -0.5em;
    }

    100% {
      transform: translateX(0.6em);
      opacity: 0;
      color: var(--color2);
      letter-spacing: 0.5em;
    }
  }
</style>
