---
// need to install astro-icon and @iconify-json/mdi
// to set the size add font-size in the component class
import { Icon } from 'astro-icon/components';

/*
INFORMATIONS
set optionally:
- class as string
- duration as string 'value and s | ms'
- iconName as string
- hoverColor as string 
*/

interface Props {
  class?: string;
  duration?: string;
  iconName?: string;
  hoverColor?: string;
}

const {
  class: classList,
  iconName = 'mdi:heart',
  duration = '.5s',
  hoverColor = '#fff',
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--hoverColor: ${hoverColor};`;
---

<div class:list={['container13', classList]} style={style} {...attrs}>
  <Icon name={iconName} />
  <span></span><span></span>
</div>

<style>
  .container13 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid #f44336;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    color: #f44336;
    font-size: 2.5rem;

    svg {
      position: relative;
      z-index: 10;
      transition: var(--duration);
      color: inherit;
      font: inherit;
    }

    span {
      position: absolute;
      border-radius: 50%;
      &:nth-of-type(1) {
        --size: 80%;
        top: calc((100 - var(--size)) / 2);
        left: calc((100 - var(--size)) / 2);
        opacity: 0;
        z-index: 5;
        transition: var(--duration);
        background-color: currentColor;
        width: var(--size);
        height: var(--size);
      }
      &:nth-of-type(2) {
        --size: 92%;
        top: calc((100 - var(--size)) / 2);
        left: calc((100 - var(--size)) / 2);
        opacity: 0;
        transition: var(--duration) linear infinite;
        border: 0.05em dashed currentColor;
        width: var(--size);
        height: var(--size);
      }
    }
    &:hover {
      svg {
        color: var(--hoverColor);
      }
      span {
        &:nth-of-type(1) {
          opacity: 1;
        }
        &:nth-of-type(2) {
          opacity: 1;
          animation: rotating13 10s linear infinite;
        }
      }
    }
  }
  @keyframes rotating13 {
    to {
      transform: rotate(360deg);
    }
  }
</style>
