---
import { getImage } from 'astro:assets';
import rain from '@/images/animation12/rain.png';

interface Props {
  bg: ImageMetadata;
  class?: string;
  duration?: string;
}
const { class: className, bg, duration = '5s' } = Astro.props;

const optBg = await getImage({ src: bg, alt: 'bg', format: 'webp' });
const optRain = await getImage({ src: rain, alt: 'rain', format: 'webp' });
---

<div
  class:list={[className, 'container']}
  style={`--bgUrl: url(${optBg.src}); --rainUrl: url(${optRain.src})`}
>
  <div class="rain"></div>
</div>

<style define:vars={{ duration }}>
  .container {
    background: var(--bgUrl) center / cover;
    width: 100%;
    height: 100%;
    .rain {
      animation: rain12 var(--duration) linear infinite;
      background: var(--rainUrl);
      background-size: cover;
      width: 100%;
      height: 100%;
      content: '';
    }
  }
  @keyframes rain12 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200px 500px;
    }
  }
</style>
