---
/*
INFORMATIONS
set 
- text as string
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props {
  text?: string;
  class?: string;
  duration?: string;
}
const {
  text = 'LIGHTING',
  class: classList,
  duration = `${(text.length * 0.2).toFixed(1)}s`,
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};`;
---

<ul class={classList} style={style} {...attrs}>
  {
    text
      .split('')
      .map((letter, idx) => (
        <li style={`--letterDelay: ${0.1 * idx}s;`}>{letter}</li>
      ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 0.2em;
    background: #222;
    padding: 0.5em 1em;
    width: fit-content;
    font-size: 1.5rem;
    list-style: none;
    li {
      animation: lighting08 var(--duration) linear infinite;
      animation-delay: var(--letterDelay);
      color: #484848;
    }
  }
  @keyframes lighting08 {
    0% {
      color: #484848;
      text-shadow: none;
    }
    90% {
      color: #484848;
      text-shadow: none;
    }
    100% {
      color: #fff900;
      text-shadow:
        0 0 0.09em #fff900,
        0 0 0.6em #ff6c00;
    }
  }
</style>
