<button><slot /></button>

<style>
  button {
    --primary-color: #e1332d;
    --duration: 0.5s;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--duration) ease-in-out;
    cursor: pointer;
    border: 3px solid var(--primary-color);
    background-color: transparent;
    padding: 0.5rem 0.7rem;
    overflow: hidden;
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -2px;
    &:hover {
      border: 7px solid var(--primary-color);
      font-weight: bold;
      letter-spacing: 4px;
    }
  }
</style>
