<button>
  <span></span><span></span><span></span><span></span>
  <slot />
</button>

<style>
  button {
    --primary-color: #1e9bff;
    --secondary-color: #fafafa;
    --duration: 0.5s;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: var(--duration);
    cursor: pointer;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    font-size: 2.5rem;
    line-height: 1;

    span {
      position: absolute;
      transition: var(--duration) ease-in-out;
      transition-delay: 0.25s;
      box-shadow:
        0 0 10px var(--primary-color),
        0 0 20px var(--primary-color),
        0 0 30px var(--primary-color),
        0 0 40px var(--primary-color),
        0 0 100px var(--primary-color);
      background-color: var(--primary-color);
      &:nth-child(1),
      &:nth-child(3) {
        top: calc(50% - 2px);
        width: 40px;
        height: 4px;
      }
      &:nth-child(1) {
        left: -25%;
        transform-origin: left;
      }
      &:nth-child(3) {
        right: -25%;
        transform-origin: right;
      }
      &:nth-child(2),
      &:nth-child(4) {
        left: calc(50% - 2px);
        width: 4px;
        height: 40px;
      }
      &:nth-child(2) {
        top: -70%;
        transform-origin: top;
      }
      &:nth-child(4) {
        bottom: -70%;
        transform-origin: bottom;
      }
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      z-index: -1;
      transition: var(--duration);
      background-color: var(--primary-color);
      width: 100%;
      height: 100%;
      content: '';
    }

    &:hover {
      border: 2px solid transparent;
      color: var(--secondary-color);
      span {
        transition-delay: 0s;
        &:nth-child(1),
        &:nth-child(3) {
          transform: scaleX(0);
        }
        &:nth-child(1) {
          left: 50%;
        }
        &:nth-child(3) {
          right: 50%;
        }
        &:nth-child(2),
        &:nth-child(4) {
          transform: scaleY(0);
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(4) {
          bottom: 50%;
        }
      }
      &::before {
        transform: scale(1);
        transition-delay: var(--duration);
        box-shadow:
          0 0 10px var(--primary-color),
          0 0 30px var(--primary-color),
          0 0 60px var(--primary-color);
      }
    }
  }
</style>
