---
/* INFORMATIONS:
set optionally:
- class as string
- duration as string 'value and s | ms' 
- colors as string (bgColor, color)
- text
*/
interface Props {
  class?: string;
  duration?: string;
  colors?: string;
  text: string;
}
// prettier-ignore
const { class: className, duration ='.5s', colors = '#013d4a, #fafafa', text='88', ...attrs } = Astro.props;

const [bgColor, color] = colors.split(',');
---

<article class={className} {...attrs}>
  <div class="content"><slot /></div><span>{text}</span>
</article>

<style define:vars={{ duration, bgColor, color }}>
  article {
    position: relative;
    transition: var(--duration);
    box-shadow: 0 10px 30px #26262688;
    background: #fafafa;

    &,
    span {
      border-radius: 10px;
    }

    span {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      transition: var(--duration);
      inset: 0;
      background-color: var(--bgColor);
      color: #fafafa;
      font-weight: 700;
      font-size: 6rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 8rem;
      padding: 0 2rem 1rem;
      color: #262626;
      text-align: center;

      h3 {
        font-weight: 700;
      }

      p {
        font-size: 0.8rem;
      }
      a {
        transition: 0.3s;
        border: 1px solid #262626;
        border-radius: 10px;
        background-color: #fafafa;
        padding: 5px 10px;
        width: max-content;
        font-size: 0.9rem;
        &:hover {
          background-color: var(--bgColor);
          color: #fafafa;
        }
      }
    }

    &:hover {
      box-shadow: 0 30px 50px #00000033;
      span {
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid var(--bgColor);
        border-radius: 50%;
        background-color: transparent;
        width: 4rem;
        height: 4rem;
        color: var(--bgColor);
        font-size: 1.8rem;
      }
    }
  }
</style>
