<a href="#"><slot /></a>

<style>
  a {
    --primary-color: #222;
    --duration: 0.5s;
    /* change these variables to have different effect */
    --before-origin: left;
    --after-origin: right;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    color: inherit;
    font-size: 1.2rem;
    text-decoration: none;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      transform: scaleX(0);
      transition: var(--duration);
      background-color: var(--primary-color);
      width: 100%;
      height: 2px;
      content: '';
    }
    &::before {
      top: 0;
      transform-origin: var(--before-origin);
    }
    &::after {
      bottom: 0;
      transform-origin: var(--after-origin);
    }
    &:hover::before,
    &:hover::after {
      transform: scale(1);
    }
  }
</style>
