---
const slotText = await Astro.slots.render('default');
---

<a href="" data-text={slotText}><slot /></a>

<style>
  a {
    --stroke-color: #262626;
    --primary-color: #fafafa;
    --secondary-color: red;
    --tertiary-color: #13efff;
    --duration: 0.5s;
    --offset1: 5px;
    --offset2: 10px;
    position: relative;
    -webkit-text-stroke: 1px var(--stroke-color);
    color: transparent;
    text-decoration: none;
    &,
    &::before,
    &::after {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      transition: var(--duration);
      padding: 0.5rem 1rem;
      width: 100%;
      height: 100%;
      font-weight: 900;
      font-size: 1.2rem;
    }
    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-text);
    }

    &:hover {
      color: var(--primary-color);

      &::before {
        transform: translate(var(--offset1), calc(var(--offset1) * -1));
        color: var(--secondary-color);
      }
      &::after {
        transform: translate(var(--offset2), calc(var(--offset2) * -1));
        color: var(--tertiary-color);
      }
    }
  }
</style>
