---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
*/
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  class?: string;
  duration?: string;
}
const { class: className, duration = '.5s', ...props } = Astro.props;
---

<button class={className} {...props}><slot /></button>

<style define:vars={{ duration }}>
  button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: var(--duration) ease-in-out;
    cursor: pointer;
    overflow: hidden;
    letter-spacing: -2px;
    &:hover {
      border-width: 7px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }
</style>
