---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'hoverBgColor, hoverColor' 
*/
import type { Polymorphic } from 'astro/types';

type Tag = 'a' | 'button';

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  class?: string;
  duration?: string;
  colors?: string;
} & Polymorphic<{ as: TagGeneric }>;

const {
  class: classList,
  duration = '.7s',
  colors = '#fffa65, #262626',
  ...attrs
} = Astro.props;

const Tag = attrs.href ? 'a' : 'button';

const [bgColor, color] = colors.split(',');
---

<Tag
  class={classList}
  {...attrs}
  style={`--duration: ${duration};--bgColor: ${bgColor};--color: ${color};`}
>
  <slot />
  <div id="before"><slot /></div>
  <div id="after"><slot /></div>
</Tag>

<style>
  a,
  button {
    position: relative;
    transition: color var(--duration) ease-in-out;
    cursor: pointer;
    overflow: hidden;
    color: transparent !important;

    #before,
    #after {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      transition: transform var(--duration) ease-in-out;
      background-color: var(--bgColor);
      width: 100%;
      height: 100%;
      color: var(--color);
      font: inherit;
    }
    #before {
      bottom: 0;
      left: 0;
      transform: translate(-100%, 100%);
    }
    #after {
      top: 0;
      right: 0;
    }

    &:hover {
      #before {
        transform: translate(0, 0);
      }
      #after {
        transform: translate(100%, -100%);
      }
    }
  }
</style>
