---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'color1, color1' 
*/

type Tag = 'a' | 'button';
type AnchorProps = {
  href: string;
};
type ButtonProps = {
  type?: 'submit' | 'reset' | 'button';
};

// prettier-ignore
type Props<TagGeneric extends Tag> = {
  tag?: TagGeneric;
  class?: string;
  duration?: string;
  colors?: string;
  borderWidth?:string;
  [key: string]: string | string[] | undefined;
} & (TagGeneric extends 'a' ? AnchorProps : ButtonProps);

const {
  href,
  tag: Tag = href ? 'a' : 'button',
  type,
  class: classList,
  duration = '.5s',
  colors = '#3bffa7',
  borderWidth = '8px',
  ...rest
} = Astro.props;

const attributesBasedOnTag = Tag === 'a' ? { href } : { type };
const { ...attrs } = { ...attributesBasedOnTag, ...rest };

const [color1] = colors.split(',');

const style = `--duration: ${duration}; --color1: ${color1}; `;
const randClass = 'link_' + Math.random().toString(36).slice(2, 11);
---

<Tag class:list={[classList, randClass]} {...attrs} style={style}
  ><slot /><span><slot /></span></Tag
>

<style>
  a,
  button {
    position: relative;
    gap: 0.1em 0.4em;
    transition: var(--duration);
    transition-delay: var(--duration);
    padding: 0.5em 0.7em;
    font-weight: 700;
    text-decoration: none;

    &,
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      gap: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: var(--duration);
      transition-delay: 0s;
      padding: inherit;
      width: inherit;
      -webkit-text-stroke: 1px solid #000;
      pointer-events: none;
      color: var(--color1);
      font: inherit;
      letter-spacing: 1.5rem;
      text-shadow:
        0 0 10px var(--color1),
        0 0 30px var(--color1),
        0 0 80px var(--color1);
      text-transform: uppercase;
    }

    &:hover {
      transition-delay: 0s;
      color: #ffffff1a !important;
      span {
        opacity: 1;
        transition-delay: var(--duration);
        letter-spacing: 0.15rem;
      }
    }
  }
</style>

<script define:vars={{ randClass }}>
  const link36 = document.querySelector(`.${randClass}`);
  const span = link36.querySelector('span');

  const linkFontSize = parseFloat(getComputedStyle(link36).fontSize);
  span.style.fontSize = `${linkFontSize * 0.9}px`;
</script>
