<a href="#"><slot /></a>

<style>
  a {
    --primary-color: #262626;
    --secondary-color: #fafafa;
    --duration: 0.5s;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: var(--duration);
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 100%;
    color: inherit;
    font-size: 1.2rem;
    text-decoration: none;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      transition: var(--duration);
      width: 100%;
      content: '';
    }
    &::before {
      transform: scale(0);
      z-index: -1;
      background-color: var(--primary-color);
      height: 100%;
    }
    &::after {
      opacity: 0;
      border: solid var(--primary-color);
      border-width: 2px 0 2px 0;
      height: 200%;
    }

    &:hover {
      color: var(--secondary-color);
      &::before {
        transform: scale(1);
      }
      &::after {
        opacity: 1;
        height: 130%;
      }
    }
  }
</style>
