<button>
  <slot />
</button>

<style>
  button {
    --primary-color: #fdc518;
    --secondary-color: red;
    --duration: 0.4s;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.5rem 0.7rem;
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 1;

    &::before,
    &::after {
      position: absolute;
      transition: var(--duration);
      content: '';
    }

    &::before {
      top: -30%;
      left: 0;
      border-right: 2px solid var(--secondary-color);
      border-left: 2px solid var(--primary-color);
      width: 100%;
      height: 160%;
    }
    &::after {
      top: 0;
      left: -10%;
      transition-delay: var(--duration);
      border-top: 2px solid var(--primary-color);
      border-bottom: 2px solid var(--secondary-color);
      width: 120%;
      height: 100%;
    }

    &:hover {
      &::before {
        transform: rotateY(180deg);
      }
      &::after {
        transform: rotateX(180deg);
      }
    }
  }
</style>
