<button>
  <slot />
</button>

<style>
  button {
    --primary-color: #ee5253;
    --secondary-color: #0a3d62;
    --tertiary-color: #fafafa;
    --duration: 0.3s;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--duration);
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.5rem 0.7rem;
    color: var(--tertiary-color);
    font-size: 2rem;
    line-height: 1;

    &::before,
    &::after {
      position: absolute;
      transform: skewX(30deg);
      z-index: -1;
      /* transform: translate(-50%, -50%) rotate(-60deg); */
      transition: var(--duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
      width: 50%;
      height: 100%;
      content: '';
    }
    &::before {
      top: -5px;
      left: -1%;
      background-color: var(--primary-color);
    }
    &::after {
      top: 5px;
      left: 51%;
      background-color: var(--secondary-color);
    }

    &:hover {
      &::before,
      &::after {
        top: 0;
        transform: skewX(0deg);
      }
      &::before {
        left: 50%;
      }
      &::after {
        left: 0;
      }
    }
  }
</style>
