---
/*
INFORMATIONS
set optionally:
- class 
- duration as string 'value and s | ms' 
- colors as string 'hoverBgColor, hoverColor' 
*/
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  class?: string;
  duration?: string;
  colors?: string;
}
const {
  class: className,
  duration = '.7s',
  colors = '#351435, #fff',
  ...props
} = Astro.props;
const [hoverBgColor, hoverColor] = colors.split(',');
---

<button class={className} {...props}><slot /></button>

<style define:vars={{ duration, hoverBgColor, hoverColor }}>
  button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: color var(--duration) ease-in-out;
    cursor: pointer;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: var(--duration) ease-in-out;
      background-color: var(--hoverBgColor);
      width: 0;
      height: 100%;
      content: '';
    }

    &:hover {
      color: var(--hoverColor);
      &::before {
        /* se volessi farlo entrare da un altro lato dovrei usare transform: translate */
        width: 100%;
      }
    }
  }
</style>
