<a href=""><slot /></a>

<style>
  a {
    --primary-color: #e91e63;
    --duration: 0.5s;
    --size: 0.6rem;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: var(--duration);
    padding: 0.5rem 1rem;
    color: inherit;
    font-size: 1.2rem;
    text-decoration: none;
    &::before,
    &::after {
      position: absolute;
      opacity: 0;
      transition: calc(var(--duration) / 5 * 3);
      border: solid var(--primary-color);
      width: var(--size);
      height: var(--size);
      content: '';
    }
    &::before {
      bottom: var(--size);
      left: var(--size);
      border-width: 0 0 3px 3px;
    }
    &::after {
      top: var(--size);
      right: var(--size);
      border-width: 3px 3px 0 0;
    }
    &:hover {
      background-color: var(--primary-color);
      color: white;
      &::before,
      &::after {
        opacity: 1;
      }
      &::before {
        bottom: calc(var(--size) * -0.65);
        left: calc(var(--size) * -0.65);
      }
      &::after {
        top: calc(var(--size) * -0.65);
        right: calc(var(--size) * -0.65);
      }
    }
  }
</style>
