---
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { Clip01, Clip02, Clip03, Clip04, Clip05, Clip06, Clip07, Clip08, Clip09, Clip10, Clip11 } from '@/components';

const paris = '/src/images/paris.jpg';
const newYork = '/src/images/new-york.jpg';
const dubai = '/src/images/dubai.jpg';
const girl = '/src/images/clip07/2.jpg';
const image08 = '/src/images/clip08/1.jpg';
---

<BaseLayout title="Clip path">
  <div class="grid">
    <Clip01 imagePath={paris} alt="Paris" />
    <Clip02 />
    <div class="element element03">
      <Clip03 />
    </div>
    <Clip04
      imagesData={[
        { imagePath: paris, alt: 'paris', position: 'center' },
        {
          imagePath: newYork,
          alt: 'new-york',

          position: '70% center',
        },
        { imagePath: dubai, alt: 'dubai', position: '80% center' },
      ]}
    >
      <h3>Hover over the images</h3>
    </Clip04>
    <!-- <div class="element row2 col2">
      <Clip05 class="element05">
        <h3 id="hover05">Hover me</h3>
        <h3>Information</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
          sequi minima accusamus ad, iure nam quae voluptates voluptatem quis
          dolor dolores nulla veniam magni ut enim quo soluta? Voluptate,
          molestias.
        </p>
      </Clip05>
    </div>
    <div class="element">
      <Clip06 class="element06" />
    </div>
    <div class="element row3">
      <Clip07 class="element07" image={girl} height={400}>
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
          magnam deserunt dolorem qui facere fuga!
        </p>
        <a href="">Read More</a>
      </Clip07>
    </div>
    <div class="element row2">
      <Clip08 class="element08" image={image08} height={400}>
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
          magnam deserunt dolorem qui facere fuga!
        </p>
        <a href="">Read More</a>
      </Clip08>
    </div>
    <div class="element">
      <Clip09 class="element09" />
    </div>
    <div class="element">
      <Clip10 class="element10" />
    </div>
    <div class="element">
      <Clip11 class="element11" />
    </div> -->
  </div>

  <style>
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      place-items: center;
      gap: 4rem 2rem;
      margin: 2rem 0;
      @media screen and (min-width: 30rem) {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      }
      .element {
        text-align: center;
      }

      .element03 {
        font-size: 2rem;
        text-transform: uppercase;
      }
      .element04 {
        width: 80%;
        h3 {
          position: relative;
          z-index: 1;
          padding: 20px 0;
          pointer-events: none;
          color: #fff;
          font-weight: normal;
          font-size: 1.3rem;
          text-align: center;
        }
      }
      .element05 {
        border-radius: 10px;
        background-color: #c7ecee;
        padding: 4rem 20px 1rem;
        font-size: 0.9rem;
        #hover05 {
          position: absolute;
          top: 13%;
          left: 85%;
          width: 3rem;
          height: 2rem;
          color: #fff;
          font-weight: normal;
          font-size: 1rem;
          text-align: center;
        }
      }
      .element06 {
        font-size: 3rem;
        font-family: serif;
        text-transform: uppercase;
      }
      .element07 {
        font-size: 0.7rem;
        a {
          background-color: #000;
          padding: 0.25em 0.5em;
          color: #fff;
          font: inherit;
        }
      }
      .element08 {
        font-size: 0.8rem;
        a {
          border: 1px solid #fff;
          padding: 0.25em 0.5em;
          font: inherit;
        }
      }
      .element09 {
        font-weight: 700;
        font-size: 2rem;
      }
      .element10 {
        font-size: 2rem;
      }
      .element11 {
        font-size: 0.7rem;
      }
    }
  </style>
</BaseLayout>
