---
// prettier-ignore
import { SmokyTxt, FillTxt, Diagonal, RotatedTxtBorder, CloseOpen, BlurFocus } from '@/components';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';
import imageBlur from '@/images/effect-blur-bg.jpg';
---

<BaseLayout title="Effects">
  <h2 id="main-subtitle">Hover over the effect</h2>
  <div class="grid">
    <div class="effect">
      <SmokyTxt text="SMOKY" fontSize="2rem" duration="1s" />
    </div>
    <div class="effect orangered">
      <FillTxt
        text="TEXT"
        fontSize="3rem"
        duration="0.5s"
        color="#fafafa"
        hoverColor="dodgerblue"
      />
    </div>
    <div class="effect light">
      <Diagonal
        boxSize="5remx5rem"
        fontSize="2.5rem"
        duration=".7s"
        backgroundColor="#fff"
        color="#10ac84"
        hoverColor="#f1f1f1"><Icon name="line-md:facebook" /></Diagonal
      >
    </div>
    <div class="effect light">
      <RotatedTxtBorder duration=".3s" delay=".3s" width="7rem"
        ><h3>HTML</h3><h3>CSS</h3><h3>JS</h3></RotatedTxtBorder
      >
    </div>
    <div class="effect violet">
      <CloseOpen fontSize="3rem" duration=".5s" delay=".5s" />
    </div>
    <div class="effect noflex transparent">
      <BlurFocus
        image={imageBlur}
        width={300}
        height={200}
        fontSize="2rem"
        duration="2s"
      />
    </div>
  </div>
</BaseLayout>

<style>
  @font-face {
    src: url('/JustAnotherHand-Regular.ttf');
    font-family: 'Just Another Hand';
  }
  body {
    background-color: #fafafa;
  }
  .effect {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    height: 6rem;
    &.light {
      background-color: #dfe6e9;
    }
    &.orangered {
      background-color: #a8380f;
    }
    &.violet {
      background-color: #9b59b6;
    }
    &.noflex {
      display: block;
    }
    &.transparent {
      background-color: transparent;
    }
  }
  #main-subtitle {
    margin-bottom: 1rem;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 auto 3rem;
    padding: 10px;
  }
  a {
    box-shadow: 0 0 20px #00000033;
    padding: 5px 10px;
    font-size: 1.2rem;
    text-align: center;
  }
</style>
