---
// prettier-ignore
import { SmokyTxt, FillTxt, Diagonal, RotatedTxtBorder, CloseOpen, BlurFocus, CardStack } from '@/components';
import BaseLayout from '@/layouts/BaseLayout.astro';
const imageBlur = '/src/images/effect-blur-bg.jpg';
import cards from '@/data/cards.json';
---

<BaseLayout title="Effects">
  <h2 id="main-subtitle">Hover over the effect</h2>
  <div class="grid">
    <SmokyTxt class="effect smokytxt" text="SMOKY" />
    <FillTxt class="effect filltxt" text="Fill Text" hoverColor="dodgerblue" />
    <Diagonal href="#" class="effect diagonal" icon="line-md:facebook" />
    <RotatedTxtBorder class="effect"
      ><h3>HTML</h3><h3>CSS</h3><h3>JS</h3>
    </RotatedTxtBorder>
    <CloseOpen class="effect openclose" />
    <BlurFocus class="effect blurfocus" imagePath={imageBlur}>
      <h3>FOCUS</h3>
    </BlurFocus>
  </div>

  <CardStack
    class="effect cardstack"
    width="30rem"
    height="15rem"
    cards={cards}
  />
</BaseLayout>

<style>
  body {
    background-color: #fafafa;
  }

  #main-subtitle {
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 2rem 10px;
    padding: 10px;
  }
  a {
    box-shadow: 0 0 20px #00000033;
    padding: 5px 10px;
    font-size: 1.2rem;
    text-align: center;
  }
  .effect {
    margin: 0 auto;

    &.smokytxt,
    &.filltxt {
      font-size: 2rem;
    }
    &.filltxt {
      background: #a8380f;
    }
    &.diagonal {
      background-color: #dfe6e9;
      font-size: 2.5rem;
    }
    &.openclose {
      border-radius: 5px;
      font-size: 3rem;
      font-family: 'Just Another Hand', serif;
    }
    &.blurfocus {
      width: 15rem;
      height: 7.5rem;
    }
    &.cardstack {
    }
  }
</style>
