---
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { Animation01, Animation02, Animation03, Animation04, Animation05, Animation06, Animation07, Animation08, Animation09, Animation10, Animation11, Animation12 } from '@/components';
---

<BaseLayout title="Astro Images">
  <h2>Hover over the image</h2>
  <div class="grid">
    <Animation01 />
    <Animation02 />
    <Animation03 />
    <Animation04 />
    <Animation05 />
    <Animation06 />
    <Animation07 />
    <Animation08 />
    <Animation09 />
    <Animation10 />
    <Animation11 />
    <Animation12 />
  </div>
</BaseLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 20rem;
    padding: 10px;
  }
</style>
