---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro">
  <h1>Welcome to Astro</h1>
  <p>
    This is a basic template for a site built with <a
      href="https://astro.build/">Astro</a
    >.
  </p>
</BaseLayout>

<style></style>
