---
// prettier-ignore
import { Animation01, Animation02, Animation03, Animation04, Animation05, Animation06, Animation07, Animation08, Animation09, Animation10, Animation11, Animation12, Animation13, Animation14, Animation15, Animation16, Animation17, Animation18, Animation19, Animation20, Animation21, Animation22, Animation23, Animation24, Animation25, Animation26, Animation27, Animation28, Animation29, Animation30, Animation31, Animation32, Animation33, Animation34, Animation35, Animation36, Animation37, Animation38, Animation42, Animation43, Animation44, Animation45, Animation46 } from '@/components';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Animations">
  <div class="grid">
    <Animation01>Anim 01</Animation01>
    <Animation02 />
    <Animation03 class="animation03" />
    <Animation04 class="animation animation04">
      <h3>Content</h3>
    </Animation04>
    <Animation05 class="animation05" href="#">Hover Me </Animation05>
    <Animation06 class="animation06" href="#">Hover Me </Animation06>
    <Animation07 />
    <div class="element element08"><Animation08 /></div>
    <div class="element element09">
      <Animation09> ANIM 09 </Animation09>
    </div>
    <Animation10 class="animation animation10" />
    <Animation11 class="animation11" />
    <div class="element element12">
      Hov<br />er
      <Animation12 />
      Me
    </div>
    <Animation13 class="animation animation13" text="ANIMATION 13" />
    <div class="element element14">
      <Animation14>Animation 14<br /><small>Hover me</small> </Animation14>
    </div>
    <div class="element element15"><Animation15 /></div>
    <div class="element element16">
      <Animation16 />
    </div>
    <div class="element element17">
      <Animation17 />
    </div>
    <div class="element element18">
      <Animation18 />
    </div>
    <div class="element element19">
      <Animation19 text="Animation 19" />
    </div>
    <div class="element element20">
      <Animation20 text="Anim 20" />
    </div>
    <div class="element element21">
      <Animation21 />
    </div>
    <div class="element element22">
      <Animation22 />
    </div>
    <div class="element element23">
      <Animation23 />
    </div>
    <div class="element element24">
      <Animation24 />
    </div>
    <div class="element element25">
      <Animation25 />
    </div>
    <Animation26> Animation 26 </Animation26>
    <div class="element element27">
      <Animation27 />
    </div>
    <div class="element element28">
      <Animation28 href="#"
        >Animation 28<br /><small>Hover Me</small></Animation28
      >
    </div>
    <Animation29> Animation 29 </Animation29>
    <div class="element element30">
      <Animation30 />
    </div>
    <div class="element element31">
      <Animation31 />
    </div>
    <div class="element element32">
      <Animation32 />
    </div>
    <div class="element element33">
      <Animation33 href="#" />
    </div>
    <Animation34 />
    <div class="element element35">
      <Animation35 />
    </div>
    <Animation36 class="animation36" />
    <div class="element element37"><Animation37 /></div>
    <div class="element element38">
      <Animation38 />
    </div>

    <!--<div class="element white x2rows">
      <Animation42 class="element42" text="Anim42" />
    </div>
    <div class="element navy x2rows">
      <Animation43 class="element43" text="ANIMATION 43" />
    </div>
    <div class="element navy x2rows">
      <Animation44 class="element44" text="AN44" />
    </div>
    <div class="element navy x2rows">
      <Animation45 class="element45" />
    </div>
    <div class="element navy x2rows">
      <Animation46 class="element46" />
    </div> -->
  </div>
</BaseLayout>

<style>
  .grid {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
    place-items: center;
    gap: 2rem;
    margin: 1rem 0;
    overflow: clip;

    .red {
      background-color: #9a0e0e;
    }

    .lightOrange {
      background-color: #ee5253;
    }
    .black {
      background-color: #333;
      color: #fff;
    }
    .blue {
      background-color: #273c75;
    }
    .gray {
      background-color: #00000066;
    }
    .white {
      background-color: #fff;
    }
    .navy {
      background-color: #001d30;
      color: #fff;
    }
    .x2cols {
      grid-column: span 2;
    }
    .bordered {
      border: 1px solid #333;
    }
    .x2rows {
      height: 200px;
    }
    .x2x2cells {
      grid-column: span 2;
      height: 10rem;
    }
    .no-flex {
      display: block;
    }

    .element,
    .animation {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    small {
      font-size: 1rem;
    }

    .animation03,
    .animation11 {
      width: 100%;
    }

    .element08 {
      background: #222;
      padding: 1rem 2rem;
    }
    .element09 {
      background: #273c75;
      padding: 1rem 1.5rem;
    }
    .animation10 {
      width: 10rem;
    }

    .animation11 {
      filter: brightness(1.5);
    }
    .element12 {
      gap: 1rem;
      background: #fff;
      padding: 0.5rem 0.7rem;
      width: 12rem;
    }
    .animation13,
    .element16,
    .animation36,
    .element37,
    .element38 {
      width: min(20rem, 100%);
    }

    .element14 {
      background: #222;
    }
    .element15 {
      background: #222;
      padding: 1rem 2rem;
    }
    .element16 {
      background: #222;
      padding: 1rem 0;
    }
    .element17,
    .element18 {
      background: #222;
      padding: 1rem 2rem;
    }

    .element19 {
      background: #273c75;
      padding: 2rem;
    }
    .element20 {
      background: #fff;
      padding: 1rem 2rem;
    }
    .element21 {
      background: #222;
      padding: 1rem;
    }
    .element22,
    .element25 {
      background: #222;
      padding: 2rem 4rem;
    }
    .element23,
    .element24 {
      background: #273c75;
      padding: 1rem 4rem;
    }
    .element27 {
      align-self: end;
      background: #222;
      padding: 0 1rem;
      height: 7rem;
    }
    .element30 {
      background: #9a0e0e;
      padding: 2rem;
    }

    .element31 {
      background: #222;
      padding: 1rem 2rem;
    }
    .element32 {
      background: #001d30;
      padding: 1rem 2rem;
    }
    .element33 {
      padding: 1rem;
    }
    .element35 {
      background: #001d30;
      padding: 1rem 2rem;
    }
    .element37 {
      background: #222;
      padding-top: 1rem;
    }
    .element38 {
      align-start: end;
      background: #222;
    }

    .element42 {
      font-size: 0.8rem;
    }
    .element44 {
      color: white;
    }
  }
</style>
