---
// prettier-ignore
import { Animation01, Animation02, Animation03, Animation04, Animation05, Animation06, Animation07, Animation08, Animation09, Animation10, Animation11, Animation12, Animation13, Animation14, Animation15, Animation16, Animation17, Animation18, Animation19, Animation20, Animation21, Animation25, Animation26, Animation27, Animation28, Animation29, Animation30, Animation31, Animation32, Animation33, Animation34, Animation35, Animation36, Animation37, Animation38, Animation39, Animation40, Animation41, Animation42, Animation43, Animation44, Animation45, Animation46 } from '@/components';
import BaseLayout from '@/layouts/BaseLayout.astro';

const bg11 = '/src/images/animation11/bg.jpg';
---

<BaseLayout title="Animations">
  <div class="grid">
    <div class="element element01">
      <Animation01> Anim 01 </Animation01>
    </div>
    <div class="element element02"><Animation02 /></div>
    <Animation03 class="animation03" />
    <Animation04 class="animation04">
      <h3>Content</h3>
    </Animation04>
    <Animation05 class="animation05" href="#">Hover Me </Animation05>
    <Animation06 class="animation06" href="#">Hover Me </Animation06>
    <div class="element element07"><Animation07 text="LIGHTING" /></div>
    <div class="element element08"><Animation08 /></div>
    <div class="element element09">
      <Animation09> ANIM 09 </Animation09>
    </div>
    <div class="element element10"><Animation10 /></div>
    <Animation11 class="animation11" imagePath={bg11} />
    <div class="element element12">
      Hov<br />er
      <Animation12 />
      Me
    </div>
    <div class="element element13">
      <Animation13 text="ANIMATION 13" />
    </div>
    <div class="element element14">
      <Animation14>Animation 14<br /><small>Hover me</small> </Animation14>
    </div>
    <div class="element element15">
      <Animation15 />
    </div>
    <div class="element element16">
      <Animation16 />
    </div>
    <div class="element element17">
      <Animation17 />
    </div>
    <div class="element element18">
      <Animation18 />
    </div>
    <div class="element element19">
      <Animation19 text="Animation 19" />
    </div>
    <div class="element element20">
      <Animation20 text="An20" />
    </div>
    <div class="element element21">
      <Animation21 />
    </div>
    <!--<div class="animation black">
      <Animation25 class="animation25" />
    </div>
    <div class="animation blue">
      <Animation26 class="animation26" />
    </div>
    <div class="animation blue">
      <Animation27 class="animation27" />
    </div>
    <div class="animation black">
      <Animation28 class="animation28" />
    </div>
    <div class="animation black">
      <Animation29 class="animation29">
        <h3>Animation 29</h3>
      </Animation29>
    </div>
    <div class="animation black">
      <Animation30 class="animation30" />
    </div>
    <div class="animation white">
      <Animation31 class="animation31" text="Animation 31" href="" />
    </div>
    <div class="animation blue">
      <Animation32 class="animation32">
        <h3>Animation 32</h3>
      </Animation32>
    </div>
    <div class="animation red">
      <Animation33 class="animation33" text="Animation 33" />
    </div>
    <div class="animation black">
      <Animation34 class="animation34" text="An34" />
    </div>
    <div class="animation navy">
      <Animation35 class="animation35" />
    </div>
    <div class="animation white">
      <Animation36 class="animation36" text="Animation 36" href="" />
    </div>
    <div class="animation navy">
      <Animation37 class="animation37" text="Animation 37" />
    </div>
    <div class="animation navy">
      <Animation38 class="animation38" />
    </div>
    <div class="animation x2rows">
      <Animation39 class="animation39" />
    </div>
    <div class="animation black x2rows">
      <Animation40 class="animation40" />
    </div>
    <div class="animation black x2rows">
      <Animation41 class="animation41" />
    </div>

    <div class="animation white x2rows">
      <Animation42 class="animation42" text="Anim42" />
    </div>
    <div class="animation navy x2rows">
      <Animation43 class="animation43" text="ANIMATION 43" />
    </div>
    <div class="animation navy x2rows">
      <Animation44 class="animation44" text="AN44" />
    </div>
    <div class="animation navy x2rows">
      <Animation45 class="animation45" />
    </div>
    <div class="animation navy x2rows">
      <Animation46 class="animation46" />
    </div> -->
  </div>
</BaseLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    margin: 1rem 0;
    padding: 10px;
    overflow: clip;

    .element {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .red {
      background-color: #9a0e0e;
    }

    .lightOrange {
      background-color: #ee5253;
    }
    .black {
      background-color: #333;
      color: #fff;
    }
    .blue {
      background-color: #273c75;
    }
    .gray {
      background-color: #00000066;
    }
    .white {
      background-color: #fff;
    }
    .navy {
      background-color: #001d30;
      color: #fff;
    }
    .x2cols {
      grid-column: span 2;
    }
    .bordered {
      border: 1px solid #333;
    }
    .x2rows {
      height: 200px;
    }
    .x2x2cells {
      grid-column: span 2;
      height: 10rem;
    }
    .no-flex {
      display: block;
    }
    .element01,
    .element02 {
      background: #26de81;
      padding: 0.5em 0.7em;
    }
    .element01,
    .element02,
    .element04,
    .element05,
    .element07,
    .element08,
    .element13,
    .element15,
    .element17,
    .element18 {
      height: 5rem;
    }
    .element02 {
      width: 10rem;
    }
    .animation04 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .element07 {
      background: #222;
      padding: 0.5em 0.7em;
      width: 15rem;
    }
    .element08 {
      background: #222;
      width: 10rem;
    }
    .element09 {
      background: #273c75;
      padding: 1rem 1.5rem;
    }
    .element10 {
      background: #222;
      padding: 0.5rem 1rem;
      width: 12rem;
    }

    .element11 {
      filter: brightness(1.5);
    }
    .element12 {
      gap: 1rem;
      background: #fff;
      padding: 0.5rem 0.7rem;
      width: 12rem;
    }
    .element13 {
      background: #fff;
      padding: 1rem;
    }
    .element14 {
      background: #222;
      small {
        font-size: 1rem;
      }
    }
    .element15 {
      background: #222;
      width: 10rem;
    }
    .element16 {
      background: #222;
      padding: 1rem;
      width: 15rem;
    }
    .element17,
    .element18 {
      background: #222;
      width: 10rem;
    }

    .element19 {
      background: #273c75;
      padding: 2rem;
    }
    .element20 {
      background: #fff;
      padding: 1rem 2rem;
    }
    .element21 {
      background: #222;
      padding: 2rem;
    }
    .element29 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 90px;
      color: #fff;
      font-size: 1.1rem;
      h3 {
        border: solid white;
        border-width: 3px 0 3px 0;
      }
    }
    .element31 {
      font-size: 1.3rem;
    }
    .element32 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 1.1rem;
    }
    .element36 {
      font-size: 1.3rem;
    }
    .element42 {
      font-size: 0.8rem;
    }
    .element44 {
      color: white;
    }
  }
</style>
