---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Parallax } from '@/components';
---

<BaseLayout title="Parallax">
  <div id="parallax_container">
    <h2 id="firefoxWarning">
      ⚠️ Parallax (right now is 2025) does not work on firefox
    </h2>
    <Parallax
      class="parallax"
      title="Giza"
      imagePath="/src/images/giza.jpg"
      position="center bottom 30%"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque
        ducimus unde aperiam. Vel dolorem laborum excepturi perferendis
        similique ex facere amet itaque dolor. Animi, ratione. Odio dignissimos
        id culpa expedita, optio ab velit itaque? Deserunt modi voluptas beatae
        vero laborum, nemo architecto eveniet blanditiis laudantium, ducimus
        provident ipsum inventore, corporis quasi dolore accusamus cupiditate
        odit assumenda sunt nam delectus iusto quis! Ab quae officia fuga
        aliquid perspiciatis saepe qui, similique omnis, officiis fugit deleniti
        accusantium quaerat a. Corporis, quos.
      </p>
      <a href="#">Read More</a>
    </Parallax>

    <Parallax
      class="parallax"
      title="Paris"
      imagePath="/src/images/paris.jpg"
      position="bottom"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque
        ducimus unde aperiam. Vel dolorem laborum excepturi perferendis
        similique ex facere amet itaque dolor. Animi, ratione. Odio dignissimos
        id culpa expedita, optio ab velit itaque? Deserunt modi voluptas beatae
        vero laborum, nemo architecto eveniet blanditiis laudantium, ducimus
        provident ipsum inventore, corporis quasi dolore accusamus cupiditate
        odit assumenda sunt nam delectus iusto quis! Ab quae officia fuga
        aliquid perspiciatis saepe qui, similique omnis, officiis fugit deleniti
        accusantium quaerat a. Corporis, quos.
      </p>
      <a href="#">Read More</a>
    </Parallax>

    <Parallax
      class="parallax"
      title="Dubai"
      imagePath="/src/images/dubai.jpg"
      position="right 25% bottom 30%"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque
        ducimus unde aperiam. Vel dolorem laborum excepturi perferendis
        similique ex facere amet itaque dolor. Animi, ratione. Odio dignissimos
        id culpa expedita, optio ab velit itaque? Deserunt modi voluptas beatae
        vero laborum, nemo architecto eveniet blanditiis laudantium, ducimus
        provident ipsum inventore, corporis quasi dolore accusamus cupiditate
        odit assumenda sunt nam delectus iusto quis! Ab quae officia fuga
        aliquid perspiciatis saepe qui, similique omnis, officiis fugit deleniti
        accusantium quaerat a. Corporis, quos.
      </p>
      <a href="#">Read More</a>
    </Parallax>
    <Parallax
      class="parallax"
      title="New York"
      imagePath="/src/images/new-york.jpg"
      position="right 40%"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque
        ducimus unde aperiam. Vel dolorem laborum excepturi perferendis
        similique ex facere amet itaque dolor. Animi, ratione. Odio dignissimos
        id culpa expedita, optio ab velit itaque? Deserunt modi voluptas beatae
        vero laborum, nemo architecto eveniet blanditiis laudantium, ducimus
        provident ipsum inventore, corporis quasi dolore accusamus cupiditate
        odit assumenda sunt nam delectus iusto quis! Ab quae officia fuga
        aliquid perspiciatis saepe qui, similique omnis, officiis fugit deleniti
        accusantium quaerat a. Corporis, quos.
      </p>
      <a href="#">Read More</a>
    </Parallax>
  </div>
</BaseLayout>

<style>
  #parallax_container {
    h2 {
      font-weight: normal;
      font-size: 1.2rem;
      text-align: center;
      text-decoration: underline 2px solid red;
      text-underline-offset: 0.3em;
    }
    &.notFirefox {
      h2 {
        display: none;
      }
    }
  }
</style>

<script>
  const container = document.getElementById(
    'parallax_container'
  ) as HTMLDivElement;

  const userAgent = navigator.userAgent;

  const isFirefox = userAgent.toLowerCase().includes('firefox');
  if (!isFirefox) {
    container.classList.add('notFirefox');
  }
  if (import.meta.env.DEV) {
    console.log('🚀 ~ :93 ~ userAgent:', userAgent);
    console.log('🚀 ~ :94 ~ isFirefox:', isFirefox);
  }
</script>
