---
import { Card09 } from '@/components';
import { ImageAnimation12 } from '@/components';
import BaseLayout from '@/layouts/BaseLayout.astro';

import cat from '@/images/cat.jpg';
const cardImages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/cards/*.{jpg,png}'
);
const [
  imagePath02,
  imagePath03,
  imagePath05,
  imagePath06,
  imagePath07,
  imagePath08,
  imagePath09,
] = Object.keys(cardImages);
---

<BaseLayout title="test">
  <div class="wrapper">
    <Card09
      class="card card09"
      imagePath={imagePath09}
      alt="card09"
      title="Card09"
    >
      <!-- <h3>John Doe</h3>
      <p>Developer</p> -->
      <!-- <Card04 class="card card04" text="88"> -->
      <h3>Card09</h3>
      <div class="size">
        <h4>Size:</h4>
        <span>7</span><span>8</span><span>9</span><span>10</span>
      </div>
      <div class="color">
        <h4>Color:</h4>
        <span></span><span></span><span></span>
      </div>
      <!-- <p>$60.<small>99</small></p>
      <a href="">Buy Now</a> -->
      <!-- <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, aperiam.
      </p>
      <a href="#">Read more</a> -->
    </Card09>
    <!-- <ImageAnimation12 class="image" image={cat} alt="cat" width={400}>
      <h3>Image Animation12</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem,
        recusandae?
      </p>
      <a href="#">Read More</a>
    </ImageAnimation12> -->
    <!-- <Link36 href="#" class="link"><div>🏠️</div>Link36</Link36> -->
    <!-- <Link24 class="link"><div>🏠️</div>Link test</Link24> -->
    <!-- <Link17 class="link" text="Link 17" /> -->
    <!-- <Link05 class="link"
      >🏠️ Link test
      <Fragment class="hover" slot="hover">🏠️ Hovered</Fragment>
    </Link05> -->
  </div>
</BaseLayout>

<style>
  .wrapper {
    padding: 0 5px;
    .link,
    .image,
    .card {
      margin: 2rem auto;
    }
    .link {
      font-size: 2rem;
      .hover {
        /* background: green; */
        text-transform: none;
      }
    }
    .image {
      width: 15rem;
      height: 15rem;
      font-size: 1.2rem;
    }
    .card {
      width: 17rem;
    }
    & {
      .card02 {
      }
      .card03 {
        height: 15rem;
      }

      .card06 {
        height: 20rem;
      }
      .card08 {
        & > * {
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        h3 {
          font-size: 1.3rem;
        }
        a {
          margin-top: 1em;
          border-radius: 30px;
          background-color: var(--color1);
          padding: 10px 30px;
          font-weight: normal;
        }
      }
      .card09 {
        height: 25rem;
      }
    }
    @media screen and (min-width: 20rem) {
      padding: unset;
    }
  }
</style>
