---
import { Js01 } from '@/components';
import { ImageAnimation12 } from '@/components';
import BaseLayout from '@/layouts/BaseLayout.astro';
import cards from '@/data/cards.json';

import cat from '@/images/cat.jpg';
import { Icon } from 'astro-icon/components';
const imageBlur = '/src/images/effect-blur-bg.jpg';
const cardImages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/cards/*.{jpg,png}'
);
const bg12 = '/src/images/animation12/bg.jpg';
// prettier-ignore
const [ imagePath02, imagePath03, imagePath05, imagePath06, imagePath07, imagePath08, imagePath09,
] = Object.keys(cardImages);
const paris = '/src/images/paris.jpg';
const newYork = '/src/images/new-york.jpg';
const dubai = '/src/images/dubai.jpg';
const girl = '/src/images/clip07/2.jpg';
const image08 = '/src/images/clip08/1.jpg';
---

<BaseLayout title="test">
  <div class="wrapper">
    <Js01 />
    <!-- <Card09
      class="card card09"
      imagePath={imagePath09}
      alt="card09"
      title="Card09"
    > -->
    <!-- <h3>John Doe</h3>
      <p>Developer</p> -->
    <!-- <Card04 class="card card04" text="88"> -->
    <!-- <h3>Card09</h3>
      <div class="size">
        <h4>Size:</h4>
        <span>7</span><span>8</span><span>9</span><span>10</span>
      </div>
      <div class="color">
        <h4>Color:</h4>
        <span></span><span></span><span></span>
      </div> -->
    <!-- <p>$60.<small>99</small></p>
      <a href="">Buy Now</a> -->
    <!-- <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, aperiam.
      </p>
      <a href="#">Read more</a> -->
    <!-- </Card09> -->
    <!-- <ImageAnimation12 class="image" image={cat} alt="cat" width={400}>
      <h3>Image Animation12</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem,
        recusandae?
      </p>
      <a href="#">Read More</a>
    </ImageAnimation12> -->
    <!-- <Link36 href="#" class="link"><div>🏠️</div>Link36</Link36> -->
    <!-- <Link24 class="link"><div>🏠️</div>Link test</Link24> -->
    <!-- <Link17 class="link" text="Link 17" /> -->
    <!-- <Link05 class="link"
      >🏠️ Link test
      <Fragment class="hover" slot="hover">🏠️ Hovered</Fragment>
    </Link05> -->
  </div>
</BaseLayout>

<style>
  .wrapper {
    text-align: center;
    & > * {
      margin: 4rem auto;
    }

    .link {
      font-size: 2rem;
      .hover {
        /* background: green; */
        text-transform: none;
      }
    }

    .card {
      width: 17rem;
      &.card03 {
        height: 15rem;
      }

      &.card06 {
        height: 20rem;
      }
      &.card08 {
        & > * {
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        h3 {
          font-size: 1.3rem;
        }
        a {
          margin-top: 1em;
          border-radius: 30px;
          background-color: var(--color1);
          padding: 10px 30px;
          font-weight: normal;
        }
      }
      &.card09 {
        height: 25rem;
      }
    }
    .effect {
      &.smokytxt,
      &.filltxt {
        width: max-content;
        font-size: 2rem;
      }
      &.filltxt {
        background: #a8380f;
      }
      &.diagonal {
        font-size: 2.5rem;
      }
      &.openclose {
        border-radius: 5px;
        background-color: #9b59b6;
        font-size: 3rem;
        font-family: 'Just Another Hand', serif;
      }
    }
    .element {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }
    animation01,
    animation02 {
      background: #26de81;
      padding: 0.5em 0.7em;
    }

    animation02 {
      width: 10rem;
    }
    animation07 {
      background: #222;
      padding: 0.5em 0.7em;
      width: 15rem;
    }
    animation08 {
      background: #222;
      width: 10rem;
    }
    animation09 {
      background: #273c75;
      padding: 1rem 1.5rem;
    }
    animation10 {
      background: #222;
      padding: 0.5rem 1rem;
      width: 12rem;
    }

    animation11 {
      filter: brightness(1.5);
      width: 15rem;
    }
    animation12 {
      gap: 1rem;
      background: #fff;
      padding: 0.5rem 0.7rem;
      width: 12rem;
    }
    animation13 {
      background: #fff;
    }
    animation14 {
      background: #222;
      small {
        font-size: 1rem;
      }
    }
    animation15 {
      background: #222;
      width: 10rem;
    }
    animation16 {
      background: #222;
      padding: 1rem;
      width: 15rem;
    }
    .animation18 {
      width: 10rem;
    }
    animation19 {
      background: #273c75;
      padding: 2rem;
    }

    .element20 {
      background: #fff;
      padding: 1rem 2rem;
    }
    .element21 {
      background: #222;
      padding: 2rem;
    }
    .element22 {
      background: #222;
      padding: 2rem 4rem;
    }
    .element23,
    .element24 {
      background: #273c75;
      padding: 1rem 4rem;
    }
    .clip {
      .hover-me {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        color: #000;
        font-size: 1.2em;
      }
      a {
        border: 1px solid currentColor;
        border-radius: 5px;
        padding: 0.5em 1em;
        color: inherit;
        font: inherit;
        text-decoration: none;
      }
    }

    @media screen and (min-width: 20rem) {
      padding: unset;
    }
  }
</style>
