---
import type { ImageMetadata } from 'astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
// prettier-ignore
import { SampleContent, Js01, Js02, Js03, Js04, Js05, Js06, Js07, Js08, Js09, Js10, Js11, Js12, Js13, Js14, Js15, Js16, Js17, Js18, Js19, Js20, Js21 } from '@/components';
const paris = '/src/images/paris.jpg';
const image14 = '/src/images/with-js14/bg.jpg';
const image16 = '/src/images/with-js16/img.jpg';

// js13
const images13 = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/with-js13/*.jpg'
);
const videos13Paths = [
  '/videos/video1.mp4',
  '/videos/video2.mp4',
  '/videos/video3.mp4',
  '/videos/video4.mp4',
];
const images13Paths = Object.keys(images13);
const alts13 = ['video1', 'video2', 'video3', 'video4'];
const imagesData13 = images13Paths.map((imagePath, idx) => ({
  imagePath,
  alt: alts13[idx],
}));

// js17
const images17Paths = [
  '/src/images/animation17/img-1.jpg',
  '/src/images/animation17/img-2.jpg',
  '/src/images/animation17/img-3.jpg',
  '/src/images/animation17/img-4.jpg',
];
---

<BaseLayout title="With Js">
  <div class="grid">
    <div class="element">
      <small class="absolute">Hover over text</small>
      <Js01 class="js js01" />
    </div>
    <Js02 class="js js02">
      <section id="header" slot="header">
        <h3>Logo</h3>
        <nav>
          <a href="">Home</a>
          <a href="">About</a>
          <a href="">Services</a>
        </nav>
      </section>
      <section slot="content" class="content">
        <h3>Title</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est eligendi
          qui sapiente minima aliquam sequi quae ipsa maiores odio officiis.
        </p>
      </section>
      <h4 class="absolute">Scroll me</h4>
    </Js02>
    <Js03 />
    <Js04 class="js js04" />
    <Js05 class="js js05"><span>scroll me</span></Js05>
    <Js06 class="js js06"><small>Scroll me</small></Js06>
    <Js07 class="js js07">
      <SampleContent />
    </Js07>
    <Js08 class="js js08">
      Javascript<br /><span>08</span>
    </Js08>
    <Js09 class="js js09"
      ><small>Click on <span class="sunMoon">sun</span></small></Js09
    >
    <Js10 />
    <Js11 class="js js11" />
    <Js12 class="js js12">
      <h3>Javascript 12 <br /><small>scroll me</small></h3>
    </Js12>
    <Js13
      class="js js13"
      videoPaths={videos13Paths}
      imagesData={imagesData13}
    />
    <Js14 class="js js14" imagePath={image14} />
    <Js15 class="js js15" position="center bottom">
      <span slot="scrollme">Scroll me</span>
      <SampleContent class="sample" />
    </Js15>
    <Js16
      class="js js16"
      user={{
        imagePath: image16,
        alt: 'user',
        details: { name: 'Alaa Gomaa', job: 'Web Developer' },
      }}
      iconNames={[
        'ion:heart-outline',
        'ion:person-outline',
        'ion:trash-outline',
      ]}
    />
    <!--<div class="element row2 no-flex">
      <Js17
        class="element17"
        iconNames={[
          'ion:camera-outline',
          'ion:home-outline',
          'ion:happy-outline',
          'ion:locate-outline',
          'ion:battery-half-outline',
          'ion:alarm-outline',
          'ion:calculator-outline',
          'ion:bulb-outline',
          'ion:chatbubbles-outline',
        ]}
      />
    </div>

    <div class="element black row2 no-flex">
      <Js18 class="element18" />
    </div>
    <div class="element element19">
      <Js19> Javascript 19 </Js19>
    </div>
    <Js20
      class="element element20"
      images={[
        { imagePath: img1, alt: 'boat' },
        { imagePath: img2, alt: 'sunset' },
        { imagePath: img3, alt: 'mountain' },
        { imagePath: img4, alt: 'alpinist' },
      ]}
    />
    <Js21 class="element element21">
      <span>I love Css</span>
    </Js21>-->
  </div>

  <style>
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
      justify-content: center;
      place-items: center;
      gap: 2rem;
      margin: 3rem 0;
      /* overflow-x: clip; */
      .element {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        small {
          color: #fff8;
          font-size: 0.8em;
        }

        .absolute {
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1000;
        }
        &.no-flex {
          display: block;
        }
        &.row2 {
          height: calc(var(--height) * 2);
        }
        &.row3 {
          height: calc(var(--height) * 3);
        }

        &.black {
          background-color: #222;
          color: #fafafa;
        }
        &.white {
          background-color: #fff;
          color: #000;
        }
        .x2height {
          height: 200%;
        }
        a {
          text-decoration: none;
        }

        .element17 {
          background: #0f296d;
        }
        .element18 {
          color: #fff;
          font-weight: 700;
          font-size: 2rem;
          letter-spacing: 2px;
        }
        &.element19 {
          font-size: 1.5rem;
        }
        &.element20 {
          border-radius: 5px;
          @media screen and (min-width: 40rem) {
            grid-column: span 2;
            width: 100%;
            height: 15rem;
          }
        }
        &.element21 {
          white-space: nowrap;
        }
      }
      .js {
      }
      .js02,
      .js05,
      .js06,
      .js07,
      .js08,
      .js09,
      .js11,
      .js12,
      .js13,
      .js14,
      .js15 {
        width: 100%;
      }
      .js01 {
        padding: 2rem 1rem 1rem;
      }
      .js02 {
        position: relative;
        background-color: #f9f9f9;
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;

        h4.absolute {
          position: absolute;
          top: 5%;
          width: 100%;
          color: #0008;
          font-weight: normal;
          font-size: 1rem;
          text-align: center;
        }

        #header {
          --color: #359381;
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          gap: 1em;
          z-index: 100;
          padding: 1.5em;
          font-size: 0.8rem;
          h3 {
            color: var(--color);
            font-size: 1.2rem;
          }

          nav {
            a {
              transition: 0.5s;
              border-radius: 20px;
              padding: 0.25em 0.4em;
              color: var(--color);
              font-weight: 500;
              text-decoration: none;
              &:hover {
                background-color: var(--color);
                color: #fff;
              }
            }
          }
        }
        .content {
          background: #222;
          padding: 1rem;
          color: #ccc;
          font-size: 0.8rem;
          h3 {
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }
        }
      }

      .js04 {
        padding: 2rem 1rem;
      }
      .js05 {
        span {
          color: #fff8;
          font-size: 0.5em;
        }
      }
      .js06 {
        small {
          color: #fff8;
          font-size: 0.9rem;
        }
      }
      .js11 {
        background: #20415c;
        padding: 2rem 0 1rem;
        max-width: 18rem;
      }
      .js12 {
        background-color: #fff;
        h3 {
          background-clip: text;
          padding: 10px;
          -webkit-text-stroke: 1px #fff;
          color: transparent;
          font-size: 1.5em;
          small {
            -webkit-text-stroke: 0px;
            color: #fff8;
            font-weight: 400;
            font-size: 0.7em;
          }
        }
      }
      .js15 {
        .sample {
          position: relative;
          padding: 15rem 2rem 2rem;
        }
      }

      @media screen and (min-width: 40rem) {
        .element {
          &.col2 {
            grid-column: span 2;
          }
        }
      }
    }
  </style>
</BaseLayout>
