---
/*
INFORMATIONS:
set optionally:
- class as string
- duration as string 'value and s | ms'
- color as string (color of border)
*/

interface Props {
  class?: string;
  duration?: string;
}
const { class: classList, duration = '.5s' } = Astro.props;
const text = ['clo', 'se'];
---

<ul class={classList}>
  <li>{text[0]}</li>
  <li>
    {text[1].split('').map((el) => <span id={el}>{el}</span>)}
  </li>
</ul>

<style define:vars={{ duration }}>
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    background: #9b59b6;
    padding: 0.2em 0.5em;
    width: fit-content;
    color: white;
    font-size: 3rem;
    font-family: 'Just Another Hand', cursive;
    list-style: none;
    li,
    span {
      transition: var(--duration);
    }
    li {
      letter-spacing: 0.2rem;
      span {
        display: inline-block;
      }
    }

    &:hover {
      li {
        &:first-of-type {
          transform: rotate(180deg);
        }
        &:last-of-type {
          transform: translateX(0.2rem) rotate(180deg);
          transition-delay: var(--duration);
          span {
            &:last-of-type {
              transform: rotate(180deg);
              transition-delay: calc(var(--duration) * 2);
            }
            &:first-of-type {
              transform: translate(-0.2rem, -0.1rem) rotate(90deg);
              transition-delay: calc(var(--duration) * 3);
            }
          }
        }
      }
    }
  }
</style>
