---
/*
INFORMATIONS:
set
- text as string
- hoverColor as string
set optionally:
- class as string
- duration as string 'value and s | ms'
*/

interface Props {
  text: string;
  hoverColor: string;
  class?: string;
  duration?: string;
}
// prettier-ignore
const { class: classList, text, duration='.5s', hoverColor, ...attrs
} = Astro.props;
---

<div class={classList} {...attrs}>
  <h3 data-text={text}>{text}</h3>
</div>

<style define:vars={{ duration, hoverColor }}>
  div {
    margin: 0 auto;
    background: #222;
    padding: 0.7em 1em;
    width: fit-content;
    color: #fff;
  }
  h3 {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    &::before {
      position: absolute;
      transition: var(--duration);
      width: 0;
      overflow-x: hidden;
      content: attr(data-text);
      color: var(--hoverColor);
      white-space: nowrap;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
</style>
