---
/*
INFORMATIONS:
set optionally:
- class as string
- duration as string 'value and s | ms'
- color as string (color of border)
*/

interface Props {
  class?: string;
  duration?: string;
  color?: string;
}
const { class: classList, duration = '.3s', color = '#58c747' } = Astro.props;
---

<div class:list={['container', classList]}>
  <slot />
  {
    Array.from({ length: 4 }).map((_, idx) => (
      <span class="box" style={`--delay: calc(var(--duration) * ${idx})`} />
    ))
  }
</div>

<style define:vars={{ duration, color }}>
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1em;
    width: 7rem;
    height: 7rem;

    .box {
      position: absolute;
      transition: var(--duration);
      inset: 0;
      border: solid var(--color);
      content: '';

      &:nth-of-type(1) {
        transform: scaleX(0);
        border-width: 4px 0 4px 0;
      }
      &:nth-of-type(2) {
        transform: scaleY(0);
        border-width: 0 4px 0 4px;
      }
      &:nth-of-type(3) {
        transform: rotate(45deg) scaleX(0);
        border-width: 4px 0 4px 0;
      }
      &:nth-of-type(4) {
        transform: rotate(45deg) scaleY(0);
        border-width: 0 4px 0 4px;
      }
    }

    &:hover {
      .box {
        transition-delay: var(--delay);
        &:nth-of-type(1) {
          transform: scaleX(1);
        }
        &:nth-of-type(2) {
          transform: scaleY(1);
        }
        &:nth-of-type(3) {
          transform: rotate(45deg) scaleX(1);
        }
        &:nth-of-type(4) {
          transform: rotate(45deg) scaleY(1);
        }
      }
    }
  }
</style>
