---
/*
INFORMATIONS:
set
- text as string
set optionally:
- class as string
- duration as string 'value and s | ms'
*/
interface Props {
  class?: string;
  text: string;
  duration?: string; // any unit
}
const { class: classList, text, duration = '1s', ...attrs } = Astro.props;

const regex = /(?<time>\d+(?:\.\d+)?)(?<unit>s|ms)/;
const result = duration.match(regex);
const { time, unit } = result?.groups!;
const delay = +(+time / text.length).toFixed(2);

const textArray = text.split('');
---

<ul class={classList} {...attrs}>
  {
    textArray.map((letter, index) => {
      const ownDelay = delay * index;
      return <li style={`--delay: ${ownDelay}${unit}`}>{letter}</li>;
    })
  }
</ul>

<style define:vars={{ duration }}>
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #222;
    padding: 0.7em 1em;
    width: fit-content;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.25em;
    list-style: none;
    li {
      transition: var(--duration);
      color: inherit;
      font: inherit;
      letter-spacing: inherit;
    }

    &:hover {
      li {
        /* STRANGE - different behaviors */
        /* transform: translateY(calc(var(--fontSize) * -2)) rotate(45deg); */
        transform: rotate(45deg) translateY(-2em);

        opacity: 0;
        filter: blur(20px);
        transition-delay: var(--delay);
      }
    }
  }
</style>
