---
import { Image } from 'astro:assets';
import image01 from '../images/image01.jpg';

const width = 300;
const height = 300;
---

<figure>
  <Image src={image01} alt="image01" priority width={width} />
  <figcaption>
    <h2>{Astro.self.name}</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quam.</p>
    <a href="#">read more</a>
  </figcaption>
</figure>

<style define:vars={{ width, height }}>
  figure {
    --duration: 0.25s;
    --primary-color: #2d343688;
    position: relative;
    transition: var(--duration);
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    overflow: hidden;
    img {
      transition: var(--duration);
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    figcaption {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      transition: var(--duration);
      width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
      h2 {
        transform: translateY(-200%);
        transition: var(--duration);
        background-color: var(--primary-color);
      }
      p,
      a {
        align-self: center;
        transition: var(--duration);
      }
      p {
        transform: translateX(100%) rotate(90deg);
        width: 80%;
      }
      a {
        transform: translateY(-600%);
        background-color: black;
        padding: 10px;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(140%, -25%) rotate(180deg);
      transition: var(--duration);
      background-color: var(--primary-color);
      width: 100%;
      height: 100%;
      content: '';
    }

    &:hover {
      figcaption {
        h2 {
          transform: translateY(0%);
          transition-delay: 0.5s;
        }
        p {
          transform: translateX(0%) rotate(0deg);
          transition-delay: 0.4s;
        }
        a {
          transform: translateY(0);
          transition-delay: 0.3s;
        }
      }
      &::after {
        transform: translate(0, 0) rotate(0deg);
      }
    }
  }
</style>
