<button>
  <slot />
</button>

<style>
  button {
    --primary-color: #fafafa;
    --secondary-color: #777;
    --duration: 0.2s;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: var(--duration);
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: var(--secondary-color);
    font-size: 2.5rem;
    line-height: 1;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.4s;
      border-radius: 50px;
      background-color: var(--primary-color);
      width: 100%;
      height: 100%;
      content: '';
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      &::before {
        transform: scale(1.4, 1.6);
        opacity: 0;
      }
    }
  }
</style>
