---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
*/

interface Props {
  class?: string;
  duration?: string;
  hoverColor?: string;
}
const {
  class: classList,
  duration = '.5s',
  hoverColor = '#000',
  ...attrs
} = Astro.props;

const style = `--duration: ${duration};--hoverColor: ${hoverColor};`;
---

<div class:list={['container05', classList]} style={style} {...attrs}>
  <div class="hoverMe">Hover<br />me</div>
  <slot />
</div>

<style>
  .container05 {
    --radius: 1.8em;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    clip-path: circle(
      var(--radius) at calc(100% - var(--radius)) var(--radius)
    );
    transition:
      color 0s calc(var(--duration) * 0.7),
      clip-path var(--duration);
    background-color: #c7ecee;
    padding: 1em;
    width: minmax(15rem, 20rem);
    max-width: 20rem;
    color: transparent;
    .hoverMe {
      --hoverSize: calc(var(--radius) * 2);
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      transition: 0s calc(var(--duration) * 0.7);
      width: var(--hoverSize);
      height: var(--hoverSize);
      color: var(--hoverColor);
      line-height: 1;
      text-align: center;
    }
    /* 71% is the magic number to fully cover the rectangle with circle */
    &:hover {
      clip-path: circle(71% at 50%);
      transition:
        color 0s,
        clip-path var(--duration) 0s;
      color: var(--hoverColor);
      .hoverMe {
        transition-delay: 0s;
        color: transparent;
      }
    }
  }
</style>
