---
interface Props {
  class: string;
  duration?: string;
}
const { class: classList, duration = '.5s', ...rest } = Astro.props;
---

<div id="container05" class={className} {...rest}>
  <slot />
</div>

<style define:vars={{ duration }}>
  #container05 {
    position: relative;
    clip-path: circle(2rem at 90% 20%);
    transition: var(--duration);
    width: 100%;
    height: 100%;
    /* 71% is the magic number to fully cover the rectangle with circle */
    &:hover {
      clip-path: circle(71% at 50%);
      #hover05 {
        color: transparent;
      }
    }
  }
</style>
