---
import BaseLayout from '@/layouts/BaseLayout.astro';
import EffectLayout from '@/layouts/EffectLayout.astro';
import { capitalize } from '@/lib/utils';

const effectName = capitalize(Astro.self.name);
const text = 'social';
---

<BaseLayout title={`${effectName} effect`}>
  <EffectLayout effectName={effectName}>
    <div class="effect">
      <h1 data-text={text}>{text}</h1>
    </div>
  </EffectLayout>
</BaseLayout>

<style>
  h1 {
    position: relative;
    color: #ccc;
    font-size: 6rem;
    &::before {
      position: absolute;
      transition: var(--duration);
      width: 0;
      overflow: hidden;
      content: attr(data-text);
      color: #262626;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
</style>
