---
import BaseLayout from '@/layouts/BaseLayout.astro';
import EffectLayout from '@/layouts/EffectLayout.astro';
import { capitalize } from '@/lib/utils';
import FillTxt from '@/components/effects/FillTxt.astro';

const effectName = capitalize(Astro.self.name);
const text = 'TEXT';
---

<BaseLayout title={`${effectName} effect`}>
  <EffectLayout effectName={effectName}>
    <div class="effect">
      <FillTxt text="TEXT" />
    </div>
  </EffectLayout>
</BaseLayout>

<style>
  body {
    background-color: #fafafa;
  }
  .effect {
    --duration: 0.5s;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
</style>
