---
import '@/styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- show the version of Astro used -->
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="head" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>CSS EFFECTS</h1>
      <nav>
        <a href="/" class:list={[{ active: Astro.url.pathname === '/' }]}
          >Buttons</a
        >
        <a
          href="/images"
          class:list={[{ active: Astro.url.pathname.startsWith('/images') }]}
          >Images</a
        >
        <a
          href="/links"
          class:list={[{ active: Astro.url.pathname.startsWith('/links') }]}
          >Links</a
        >
        <a
          href="/cards"
          class:list={[{ active: Astro.url.pathname.startsWith('/cards') }]}
          >Cards</a
        >
        <a
          href="/effects"
          class:list={[{ active: Astro.url.pathname.startsWith('/effects') }]}
          >Effects</a
        >
        <a
          href="/parallax"
          class:list={[{ active: Astro.url.pathname.startsWith('/parallax') }]}
          >Parallax</a
        >
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    height: 100svh;
  }
  header {
    margin: 1rem 0;
    h1 {
      color: rgb(193, 8, 240);
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 0 10px;
      font-size: 1.2rem;
      a {
        display: block;
        padding: 0.5rem 0;
        color: #2914e2;
        text-align: center;
        text-decoration: none;
        &.active {
          color: #2914e2;
          font-weight: bold;
          text-decoration: underline 3px;
          text-underline-offset: 0.5rem;
        }
      }
    }
  }
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
</style>
