---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
*/

import { Image } from 'astro:assets';

interface Props {
  class?: string;
  duration?: string;
}
const { class: classList, duration = '1s', ...attrs } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/with-js06/*.jpg'
);

const imagePaths = Object.keys(images);

const id = Math.random().toString(32).slice(2, 11);
---

<div id={id} class:list={['container06', classList]} {...attrs}>
  <section class="sec1 show-animate">
    <slot />
    <h3 class="animate">First Section</h3>
    <p class="animate">Animation on Scroll HTML, CSS and JavaScript</p>
  </section>
  <section class="sec2">
    <h3 class="animate">Second Section</h3>
    <p class="animate">Animation on Scroll HTML, CSS and JavaScript</p>
  </section>
  <section class="sec3">
    <h3 class="animate">Third Section</h3>
    <p class="animate">Animation on Scroll HTML, CSS and JavaScript</p>
  </section>
  <section class="sec4">
    <h3 class="animate">Fourth Section</h3>
    <p class="animate">Animation on Scroll HTML, CSS and JavaScript</p>
  </section>
  <section class="sec5">
    <div class="images">
      {
        imagePaths.map((imagePath, idx) => {
          return (
            <Image
              src={images[imagePath]()}
              alt={`img${idx + 1}`}
              class="animate"
              width={200}
            />
          );
        })
      }
    </div>
  </section>
</div>

<style>
  .container06 {
    position: relative;
    aspect-ratio: 1.5;
    height: 20rem;
    height: auto;
    overflow-y: scroll;

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: clip;
      &.sec1 {
        background-color: #1f242d;
        p {
          color: #0ef;
        }
      }
      &.sec2 {
        background-color: #601e9e;
        p {
          color: #0f0;
        }
        & .animate {
          transform: translateX(100%);
        }
        &.show-animate .animate {
          transform: translateX(0);
        }
      }
      &.sec3 {
        background-color: #056964;
        p {
          color: #ff0;
        }
        & .animate {
          transform: scale(0.7);
        }
        &.show-animate .animate {
          transform: scale(1);
        }
      }
      &.sec4 {
        background-color: #ffa600;
        p {
          color: #056964;
        }
        & .animate {
          transform: rotate(30deg);
        }
        &.show-animate .animate {
          transform: rotate(0deg);
        }
      }
      &.sec5 {
        background-color: #ff0055;
        .images {
          display: flex;
          justify-content: center;
          gap: 20px;
          width: 100%;
          img {
            max-width: 25%;
            height: auto;
            &:nth-child(2) {
              transition-delay: 0.2s;
            }
            &:nth-child(3) {
              transition-delay: 0.4s;
            }
          }
        }
        & .animate {
          transform: translateX(100%) rotate(-90deg);
        }
        &.show-animate .animate {
          transform: translateX(0) rotate(0deg);
        }
      }
      h3 {
        color: #fff;
        font-size: 1.5em;
      }
      p {
        padding: 0 1em;
        font-size: 0.8em;
        &.animate {
          transition-delay: 0.2s;
        }
      }

      & .animate {
        opacity: 0;
        filter: blur(5px);
        transition: 0.5s;
      }
      &.show-animate .animate {
        opacity: 1;
        filter: blur(0px);
      }
    }
  }
</style>

<script define:vars={{ id }}>
  const container06 = document.getElementById(id);
  const sections = container06.querySelectorAll('section');

  container06.addEventListener('scroll', () => {
    sections.forEach((section) => {
      const scrollDistance = container06.scrollTop;
      // distance from top of positioned parent element (layout view, not visual view)
      const secDistance = section.offsetTop;
      // console.log('🚀 ~ :181 ~ secDistance:', secDistance);
      const sectionHeight = section.clientHeight;
      if (scrollDistance >= secDistance - sectionHeight * 0.2) {
        section.classList.add('show-animate');
      } else {
        section.classList.remove('show-animate');
      }
    });
  });
</script>
