---
/*INFORMATIONS:
set optionally
- class as string
- duration as string
- text as strimg
*/

interface Props {
  class?: string;
  duration?: string;
  text?: string;
}
// prettier-ignore
const { class: classList, duration='2.5s', text="Javascript 18", ...attrs } = Astro.props;

const textArray = text.split('');

const style = `--duration: ${duration};`;
---

<div class:list={['container18', classList]} style={style} {...attrs}>
  <h3 id="text">
    {
      textArray.map((letter, idx) => {
        if (letter === ' ') return letter;

        const delay = `calc(var(--duration) * ${Math.round((idx / textArray.length) * 100) / 100} )`;

        return <span style={`--delay: ${delay}`}>{letter}</span>;
      })
    }
  </h3>
</div>

<style>
  .container18 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #222;
    padding: 2rem 1rem;
    width: 20rem;
    max-width: 100%;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;

    h3 {
      font: inherit;
      font-size: 2rem;
      span {
        display: inline-block;
        position: relative;
        transform: translateY(0px);
        animation: wave18 var(--duration) ease-in-out infinite;
        animation-delay: var(--delay);
      }
    }
  }
  @keyframes wave18 {
    0%,
    50%,
    100% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(-1em);
    }
  }
</style>
